.PrayerTimes{
  display: flex;
  flex-direction: column;
}
.PrayerTimes p{
  font-size: 22px;
  margin: 10px;
  font-weight: bold;
  border: 1px solid rgb(35, 111, 88);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.PrayerTimes p:hover{
    background-color: rgb(35, 111, 88);
    color: white;
  }